.box-border{
  margin: auto auto;
  max-width: 330px;
  border: 5px solid lightskyblue;
  padding: 5px;
}

.card-box{
  display: inline-block;
  width: 97px;
  height: 97px;
  background-color: aquamarine;
  padding: 4px;
  vertical-align:top;
  margin: 1px 1px 1px 3px;
  text-align: center;
  font-size: 3.75em;
  font-weight: 700;
}

.card-white{
  display: inline-block;
  width: 97px;
  height: 97px;
  background-color: white;
  padding: 4px;
  vertical-align:top;
  margin: 1px 1px 1px 3px;
  text-align: center;
  font-size: 3.75em;
  font-weight: 700;
}

.card-box:hover{
  border: 1px solid black;
  background-color: aquamarine;
  cursor: grab;
}

.card-box:active{
  border: 1px solid black;
  background-color: aquamarine;
  cursor: grabbing;
}

.finished{
  font-size: 100px;
  text-align:center;
}